<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-3 columns">
    <strong>Street:</strong>
  </div>
  <div class="small-9 columns">
    <%= @building.street %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>City:</strong>
  </div>
  <div class="small-9 columns">
    <%= @building.city %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>State:</strong>
  </div>
  <div class="small-9 columns">
    <%= @building.state %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>Zip code:</strong>
  </div>
  <div class="small-9 columns">
    <%= @building.zip_code %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>Description:</strong>
  </div>
  <div class="small-9 columns">
    <%= @building.description %>
  </div>
</div>